/* Default styles go here */

body {
    /* Fonts to match Provo.org */
    font-family: 'Century Gothic', CenturyGothic, "Muli", AppleGothic, Helvetica, sans-serif !important;
}

#testgraph {
    height: 250px;
    width: 250px;
}