{% load staticfiles %}
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <!-- css and js files are automatically being minimized on the server. (Not perfect minimization right now,
              but it should work for the time being. -->
{#        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
        <link href="{% static 'css/magic-bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/lessstyle.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet"> <!-- Needs to be minimized in production -->
        <!-- <link href="{% static 'css/style.min.css' %}" rel="stylesheet"> -->

{#        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">#}
        <title>{% block title %}Provo City Dashboard{% endblock %}</title>
    </head>
    <body>
    <!-- Place all static files in the /static/ directory
         This is the base template file.
         Anything that needs to go on all pages should go here. -->
    <div class="container-fluid">
        <div id="provo-city-header" >
            <!-- Place the code for the header from Provo City here.
            Do we need to recreate this to make it easier to work with or do we just copy/paste and hope? -->
            <div class="page-header">
                <h1><a href="{% url 'index' %}"><img src="{% static 'logo.gif' %}"> <small>Dashboard: <span class="devcoloring">Development version</span></small></a></h1>
            </div>
        </div>

        <div id="navigation">
            <!-- Put the navigation circle buttons here -->
            <!-- Might need to be overwritten in individual templates to account for the currently selected category. -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
{#                        <a class="navbar-brand" href="{% url 'index' %}">Dashboard</a>#}
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- The hrefs below do NOT require .html. They use the regex in urls.py to resolve the page to go to.
                            I don't know if this is the best way to do it though. -->

                            <li class="nav-link"><a href="{% url 'safety' %}" id="public-safety-nav-link">{% block nav-safety %}<span class="public-safety-default-sm"></span>{% endblock %}<br>Public Safety</a></li>
                            <li class="nav-link"><a href="{% url 'economic' %}" id="economic-health-nav-link">{% block nav-economic %}<span class="economic-health-default-sm"></span>{% endblock %}<br>Economic Health</a></li>
                            <li class="nav-link"><a href="{% url 'civic' %}" id="civic-health-nav-link">{% block nav-civic %}<span class="civic-health-default-sm"></span>{% endblock %}<br>Civic Health</a></li>
                            <li class="nav-link"><a href="{% url 'government' %}" id="government-performance-nav-link">{% block nav-government %}<span class="government-performance-default-sm"></span>{% endblock %}<br>Government<br>Performance</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>

        <div id="content">
            {% block content %}
            <!-- Put the main work/graph area here... Maybe this will be in dashboard/graph.html -->
            {% endblock %}
        </div>
    </div>
</body>

    <!-- Load js -->
    <!-- Load different scripts in debug mode. -->
    {% if debug %}
        <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/raphael.js' %}"></script>
        <script src="{% static 'js/morris.js' %}"></script>
        <script src="{% static 'js/dashboard.js' %}"></script>
    {% else %}
        <!-- I think it might be faster to serve everything ourselves instead of through cdns.
             At least for right now. -->
        <!-- Combined for potential better network utilization into libs.js
            <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/raphael.min.js' %}"></script>
            <script src="{% static 'js/morris.min.js' %}"></script>
        -->
        <script src="{% static 'js/libs.js' %}"></script>
        <script src="{% static 'js/dashboard.min.js' %}"></script>
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
        <script src="{% static 'js/dashboard.min.js' %}"></script>-->
    {% endif %}

<!-- -->
    <!-- CDN script sources. Left commented out for now. -->

</html>