<!-- Public Safety -->
{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Public Safety {% endblock %}

{% block nav-safety %}<span class="public-safety-selected-sm"></span>{% endblock %}

{% block content %}

    <!-- If stuff is reloading or refreshing properly, try removing the :: from the elements below -->
    <div class="container-fluid" ng-controller="BaseGraphController" ng-init="loadData('safety')" ng-cloak{% comment %}ng-show="safetyLoaded"{% endcomment %}>

        <div class="row row-centered">
            <div class="col-md-5 col-centered col-min graph-container" ng-repeat="subcategory in dataCollection.subcategories">
                <h3 class="text-center" {% comment %}ng-bind="subcategory.title"{% endcomment %}>{% verbatim %}{{ ::subcategory.title }}{% endverbatim %}</h3>
                <div ng-controller="GraphController" ng-init="init(subcategory)" ng-click="open()">
                    <img src="{% static 'images/loader.gif' %}" alt="Loading..." class="loadergif center-block" />
                    {% verbatim %}
                        <canvas class="chart chart-base" chart-type="type" data="data" labels="labels"></canvas>
                        <!-- Consider this instead. Might have side effects. Needs research on ::.
                          <canvas class="chart chart-base" chart-type="type" data="::data" labels="::labels"></canvas>-->
                    {% endverbatim %}
                </div>
                <span class="label-info text-center center-block label-size">{% verbatim %}{{ subcategory.description }}{% endverbatim %}</span>
            </div>
        </div>
        {% verbatim %}
        <!-- See: https://angular-ui.github.io/bootstrap/ -->
        <script type="text/ng-template" id="modalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">{{ title }}</h3>
            </div>
            <div class="modal-body">
                <canvas class="chart chart-base" chart-type="type" data="data" labels="labels"></canvas>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
        {% endverbatim %}
    </div>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/safety.js' %}"></script>
    <script src="{% static 'js/ui-bootstrap-tpls-0.12.1.min.js' %}"></script>
{% endblock %}