<!-- Community, Neighborhood, Livability -->
{% extends "base.html" %}

{% block title %} Transportation {% endblock %}

{% block content %}
<h2>Transportation Metrics</h2>

    <!-- To display the various number of graphs we will want to use either
    angularjs or django's template system.
    They both have their advantages (Django's is built in and won't require additional js libraries)
    (Angular is client-side and keeps more stuff away from the server. But it would require an api on the server I think.) -->

    <!-- Graphs are overlapping right now. Not sure why -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div id="testarea"></div>
            </div>
            <div class="col-md-6">
                <div id="testarea2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="testarea3"></div>
            </div>
            <div class="col-md-4">
                <div id="testarea4"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="testarea5"></div>
            </div>
        </div>
    </div>

{% endblock %}